name: Pull Request Checking

run-name: ${{ github.actor }} is building action
on:
  pull_request_target:
    types: [ assigned, opened, synchronize, reopened ]
  push:
    branches:
      - 'master'
      - 'actions/**'
      - 'release/**'

jobs:

  flake8:
    name: Code style
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: [ '3.9' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.3.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Code style checker
        run: flake8 ./ --config .flake8 --show-source --statistics --output-file flake8.log --exclude "venv","target"

  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    needs: [ flake8 ]
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: [ '3.9' ]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pylint

      - name: Analysing the code with pylint
        run: |
          pylint --rcfile=.pylintrc --output=pylint.log --jobs 10 $(git ls-files '*.py*')
